<div class="translation">
  <div class="top row">
    <div class="left">
      <div class="english">
        {{seed.text}}
      </div>
    </div>
    
    <div class="right">
      <div class="translated">
        {{textarea valueBinding="translatedText" rows=2}}
      </div>
    </div>
  </div>
  
  <div class="bottom row">
    <div class="left">
      <div class="label">
        {{path}}
      </div>
    </div>
    
    <div class="right">
      <div class="field-actions">
        <button {{action "copyText" this}}>Copy English Text</button>
        <button {{action "save" this}}>Save</button>
      </div>
      {{#if translated.translator}}
        <span class="translator">Last translated by {{translated.translator}}</span>
      {{/if}}
    </div>
  </div>
</div>
