<div class="project container">
  <div class="header row">
    <h1>{{model.display_name}}</h1>
    <div class="locales">
      <ul>
        {{#each locale in locales}}
          <li data-locale="{{locale}}" {{action "changeLocale" locale}}>{{locale}}</li>
        {{/each}}
        <li>
          <span {{bind-attr class=":new-locale isNewLocaleVisible:hidden:visible"}} {{action "toggleNewLocale"}}>New Locale</span>
          
          <div {{bind-attr class=":new-locale-form isNewLocaleVisible:visible:hidden"}}>
            {{input valueBinding="newLocale" placeholder="locale (e.g. en-gb)"}}
            <button {{action "createNewLocale"}}>Create</button>
            <button {{action "cancelNewLocale"}}>Cancel</button>
          </div>
        </li>
      </ul>
    </div>
  </div>
  
  <div class="content">
    <div class="types">
      {{#if currentLocale}}
        <h3>Progress: {{model.translation.progress}}%</h3>
        <ul>
          {{#if deployable}}
            <li class="deploy" {{action 'deploy'}}>Deploy</li>
          {{/if}}
          <li data-type="all" {{action 'chooseType' 'all'}}>All</li>
          <li data-type="upToDate" {{action 'chooseType' 'upToDate'}}>Up to date</li>
          <li data-type="missing" {{action 'chooseType' 'missing'}}>Missing</li>
          <li data-type="outOfDate" {{action 'chooseType' 'outOfDate'}}>Out of date</li>
          <li class="active" data-type="todo" {{action 'chooseType' 'todo'}}>Todo</li>
        </ul>
      {{/if}}
    </div>
    
    <div class="translations">
      {{#if currentLocale}}
        <h3>{{titleize selectedType}}</h3>
        {{#each field in model.translation.selectedFields}}
          {{render 'field' field}}
        {{/each}}
      {{/if}}
    </div>
  </div>
</div>
