<div class="project container">
  <div class="header row">
    <h1>{{model.display_name}}</h1>
    <div class="locales">
      <ul>
        {{#each locale in locales}}
          <li data-locale="{{locale}}" {{action "changeLocale" locale}}>{{localeNameOf locale}}</li>
        {{/each}}
        <li class="new-locale-item">
          <span {{bind-attr class=":new-locale isNewLocaleVisible:hidden:visible"}} {{action "toggleNewLocale"}}>New Locale</span>
          
          <div {{bind-attr class=":new-locale-form isNewLocaleVisible:visible:hidden"}}>
            {{input valueBinding="newLocale" placeholder="Language name"}}
            <button {{action "cancelNewLocale"}}>Cancel</button>
            
            {{#if localeSearchResults}}
              <div class="autocomplete">
                {{#each result in localeSearchResults}}
                  <button class="result" {{action "chooseLocale" result.code}}>
                    <span class="name">{{result.name}}</span>
                  </button>
                {{/each}}
              </div>
            {{/if}}
          </div>
        </li>
      </ul>
    </div>
  </div>
  
  <div class="messages row">
    <div class="message">{{{message}}}</div>
  </div>
  
  <div class="content">
    <div class="types">
      {{#if currentLocale}}
        <h3>Progress: {{model.translation.progress}}%</h3>
        <ul>
          <li class="deploy" {{action 'deploy'}}>Deploy</li>
          <li data-type="all" {{action 'chooseType' 'all'}}>All</li>
          <li data-type="upToDate" {{action 'chooseType' 'upToDate'}}>Up to date</li>
          <li data-type="missing" {{action 'chooseType' 'missing'}}>Missing</li>
          <li data-type="outOfDate" {{action 'chooseType' 'outOfDate'}}>Out of date</li>
          <li class="active" data-type="todo" {{action 'chooseType' 'todo'}}>Todo</li>
        </ul>
      {{/if}}
    </div>
    
    <div class="translations">
      {{#if currentLocale}}
        <h3>{{titleize selectedType}}</h3>
        {{#if model.translation.selectedFields}}
          {{#each field in model.translation.selectedFields}}
            {{render 'field' field}}
          {{/each}}
        {{else}}
          <div class="empty">
            There are no {{downcasedTitle selectedType}} keys
          </div>
        {{/if}}
      {{else}}
        <div class="empty">
          Choose a language to start
        </div>
      {{/if}}
    </div>
  </div>
</div>
