<div class="projects container">
  <h1 class="row">{{model.display_name}}</h1>
  <div class="locales">
    {{view Ember.Select content=locales value=currentLocale prompt="Choose a locale" action=changeLocale}}
  </div>
  
  <p>Total: {{model.translation.allFields.length}}</p>
  <p>Up to date: {{model.translation.upToDateFields.length}}</p>
  <p>Missing: {{model.translation.missingFields.length}}</p>
  <p>Out of date: {{model.translation.outOfDateFields.length}}</p>
  <p>Todo: {{model.translation.todoFields.length}}</p>
  <p>Progress: {{model.translation.progress}}%</p>
  
  {{!-- #each field in model.translation.allFields --}}
    {{!-- render 'field' field --}}
  {{!-- /each --}}
</div>
